<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nycloud.admin.mapper.SysPermissionMenuPkMapper">
  <resultMap id="BaseResultMap" type="com.nycloud.admin.model.SysPermissionMenuPk">
    <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
  <insert id="insertPermissionMenus" parameterType="java.util.List">
    insert into sys_permission_menu_pk (permission_id, menu_id)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      ( #{item.permissionId}, #{item.menuId} )
    </foreach>
  </insert>
  <delete id="deletePermissionMenus" parameterType="java.util.Map">
    delete from sys_permission_menu_pk where permission_id = #{permissionId,jdbcType=INTEGER} and menu_id in
    <foreach item="item" collection="menuIds" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
</mapper>