<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nycloud.admin.mapper.SysRolePermissionPkMapper">
  <resultMap id="BaseResultMap" type="com.nycloud.admin.model.SysRolePermissionPk">
    <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <insert id="insertRolePermissions" parameterType="java.util.List">
    insert into sys_role_permission_pk (permission_id, role_id)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      ( #{item.permissionId}, #{item.roleId} )
    </foreach>
  </insert>
  <delete id="deleteRolePermissions" parameterType="java.util.Map">
    delete from sys_role_permission_pk where role_id = #{roleId,jdbcType=INTEGER} and permission_id in
    <foreach item="item" collection="permissionIds" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
</mapper>