<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nycloud.admin.mapper.SysUserGroupRolePkMapper">
  <resultMap id="BaseResultMap" type="com.nycloud.admin.model.SysUserGroupRolePk">
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <insert id="insertGroupRoles" parameterType="java.util.List">
    insert into sys_user_group_role_pk (group_id, role_id)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      ( #{item.groupId}, #{item.roleId} )
    </foreach>
  </insert>
  <delete id="deleteGroupRoles" parameterType="java.util.Map">
    delete from sys_user_group_role_pk where group_id = #{groupId,jdbcType=INTEGER} and role_id in
    <foreach item="item" collection="roleIds" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
</mapper>